body {
  text-align: center;
  font-family: 'Girassol', cursive;
  background: url("./img/ffbggif.gif") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  color: #E2E5ED;
}

p {
  border: 2px solid #E2E5ED;
  border-radius: 5px;
}

.charImage {
  border: 2px solid #E2E5ED;
  border-radius: 5px;
  padding: 10px;
}

.whole{
  background-image: ;
}

.leftSide {
  font-size: 20px;
  text-align: center;
  height: 100%;
}

.rightSide {
  font-size: 20px;
  text-align: center;
  height: 100%;
}

.box {
  text-align: center;
  width: 33%
}

#img {
  width: 34%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.characterBio {
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1em;
  font-family: 'Girassol', cursive;
  font-weight: bold;
  font-size: 2em;
  color: #E2E5ED;
}

.charImage {
  height: 6em;
  width: 5em;
}

.slides {
  height: 300px;
}

.mainBox {
  width: 100%;
  padding: 20px 0;
  position: relative;
  height: 450px;
  text-align: center;
  margin: 0 auto;
}

.leftButton, .rightButton, .randomButton {
  background: rgba(255, 255, 255, 0.);
  cursor: pointer;
  margin: 0 5px;
  top: 50%;
  border: 0;
  background: transparent;
  border: 2px solid #E2E5ED;
  border-radius: 5px;
  padding: 10px;
}

.buttonImg{
  height: 10%;
}

.slides:hover {
  transform: scale(2);
}
